body{
    background-attachment: fixed;
    background-image: linear-gradient(#A300FF, #1B002A);
    overflow: hidden;
}

.titulo{
    color: #fff;
}

.custom-input {
    background: transparent !important;
    color: #fff;
    border: 1px solid #fff;
  }

.custom-input::placeholder { color: rgba(255,255,255,.7); }

.custom-input:focus {
    background: transparent;
    color: #fff;
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255,255,255,.2);
}
.form-icon-img {
    width: 1rem;
    height: 1rem;
    pointer-events: none;
}
.position-relative i {
    pointer-events: none;
    color: #6c757d;
}